// minxins
@import "./minxins.scss";
/* header css */
#header {
    background:$baseBackgroundHeader;
    position: relative;
    padding: 25px 0 15px;
    margin: 0 auto 2px;
}
@import "./block/header-logo.scss";
@import "./block/main-menu.scss";
@import "./block/subscribe-top.scss";
@import "./block/search-form.scss";
/* end header css */