#highlighted{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(4);
    transform: scale(4);
    background: #191e28;
    color: #FFF;
    padding: 30px 20px;
    &.open {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .region-highlighted{
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #header-mobile-logo{
        padding-left: 0;
        padding-right: 0;
        .menu-hamburger{
            background: url('/sites/default/themes/coupon/assets/images/hamburg-close.png') no-repeat center;
            display: block;
            margin-top: 5px;
        }
        p{
            a{
                width: calc(100% - 40px);
                float: left;
                text-align: center;
                img{
                    max-width: 100%;
                    width: auto;
                }
            }
        }
    }
    #mobile-menu-contents{
        padding-left: 0;
        padding-right: 0;
        .mobile-menu-content {
            margin-top: 30px;
            .menu-content--item {
                margin-left: -10px;
                margin-right: -10px;
                border-bottom: 1px solid #FFF;
                border-color: rgba(255,255,255,0.5);
                width: 100%;
                float: left;
                &:last-child {
                    border-bottom: none;
                }
                #block-menu-menu-menu-footer{
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 0;
                    .content{
                        ul{
                            li{
                                float: none;
                                padding: 0;
                                margin: 0;
                                width: 100%;
                                display: block;
                                a{
                                    padding: 25px 0;
                                    color: #FFF;
                                    background: transparent;
                                    font-family: "Open Sans", Helvetica, Arial, sans-serif;
                                    font-size: 15px;
                                    &:before{
                                        display: none;
                                    }
                                }
                                &:not(.last) {
                                    border-bottom: 1px solid #FFF;
                                    border-color: rgba(255,255,255,0.1);
                                }
                            }
                        }
                    }
                }
                #block-footer-right{
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 0;
                    margin-bottom: 20px;
                    .block-title{
                        display: none;
                    }
                    .content{
                        .node-webform{
                            header,
                            footer{
                                display: none;
                            } 
                            .content{
                                margin-top: 15px;
                                .webform-client-form{
                                    .form-item{
                                        .control-label{
                                            display: none;
                                        }
                                        .form-control{
                                            background: transparent;
                                            border-radius: 0;
                                            border: none;
                                            outline: none;
                                            border-bottom: 1px solid #8c8d8f;
                                            box-shadow: none;
                                            padding-left: 0;
                                            font-size: 15px;
                                        }
                                    }
                                    .form-actions{
                                        .form-submit{
                                            @include  block-title();
                                            margin-bottom: 10px;
                                            width: 100%;
                                            padding: 10px 0;
                                            border-radius: 0;
                                            border: 0;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #block-search-form{
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 0;
                    margin-bottom: 20px;
                    margin-top: 15px;
                    display: block !important;
                    #search-block-form{
                        width: 100%;
                        max-width: 100%;
                        .form-actions{
                            margin-bottom: 0;
                        }
                    }
                }
                #subscribe-top{
                    display: block !important;
                    width: 100%;
                    padding-left: 10px;
                    padding-right: 0;
                    margin-bottom: 20px;
                    margin-top: 15px;
                    max-width: 100%;
                }
            }
        }
    }
}