@import "../minxins.scss";

/* block-home-promotion */
#block-home-promotion{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    &:before{
        @include background-before($baseColorWhite);
    }

    .views-row{
        margin-bottom: 30px;
        .wrapper-view-field{
            position: relative;
            background-color: $baseBackground2;
            // padding-bottom: 20px;
        }
        .views-field{
            &-field-image{
                border-top: 2px solid $baseBackgroundHeader;
                img{
                    max-width: 100%;
                    height: auto;
                }
                .marker {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
            &-title{
                margin-top: 15px;
                margin-bottom: 15px;
                a{
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 500;
                }
            }
            &:not(.views-field-field-image){
                padding-left: 15px;
                padding-right: 15px;
            }
            &-field-teaser{
                .field-article-item{
                    .marker{
                        &-news-promotion{
                            display: none;
                        }
                    }
                }
            }
        }
        .field-article-item{
            padding-top: 10px;
        }
        .article-content{
            margin-bottom: 10px;
        }
        .article-footer{
            border-top-color: #fff;
            padding-bottom: 15px;
        }
    }
}
/* end block-home-promotion */