@import "../common.scss";

/* block-ma-giam-gia-noi-bat */
.block-ma-giam-gia-noi-bat{
    .view-content{
        .item-list{
            &-content{
                padding-left: 0;
                .views-row{
                    width: 50%;
                    float: left;
                    margin-bottom: 20px;
                    &-first{
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}

/* end block-ma-giam-gia-noi-bat */