@import "../minxins.scss";

/* block-home-promotion */
#block-home-promotion{
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    &:before{
        @include background-before($baseColorWhite);
    }

    .views-row{
        margin-bottom: 30px;
        .wrapper-view-field{
            position: relative;
            background-color: $baseBackground2;
            padding-bottom: 20px;
        }
        .views-field{
            &-field-image{
                height: 200px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
            &-title{
                margin-top: 15px;
                margin-bottom: 15px;
                a{
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 500;
                }
            }
            &:not(.views-field-field-image){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}
/* end block-home-promotion */