@import "../minxins.scss";

/* block-promotion-highlight */
#block-promotion-highlight{
    .view-content{
        .item-list{
            &-content{
                padding-left: 0;
                .views-row{
                    margin-bottom: 20px;
                    display: block;
                    margin-left: 0;
                    &-even{
                        padding-right: 15px;
                    }
                    &-odd {
                        padding-left: 15px;
                    }
                    .wrapper-views-row{
                        &-first{
                            position: relative;
                        }
                        &-not-first{
                            background-color: $baseColorWhite;
                            padding-bottom: 30px;
                        }
                    }
                    .views-field{
                        &-field-image{
                            position: relative;
                            overflow: hidden;
                            max-height: 440px;
                            .marker{
                                position: absolute;
                                top: 0;
                                right: 0;
                            }
                            .field-content{
                                border-top: solid 3px $baseBackgroundHeader;
                                // a{
                                //     position: absolute;
                                //     top: 50%;
                                //     transform: translateY(-50%);
                                // }
                               
                            }
                            img{
                                width: 100%;
                                height: auto;
                            }
                        }
                        &-title{
                            margin-top: 15px;
                            margin-bottom: 20px;
                            a{
                                font-size: 28px;
                                color: $baseTextColor;
                                line-height: 34px;
                                font-weight: 600;
                            }
                        }
                        &-field-teaser{
                            line-height: 25px;
                        }
                        &-title,&-field-teaser {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                    }
                    &-first{
                        width: 100%;
                        margin-bottom: 30px;
                        padding: 15px 0;
                        &:before{
                            @include background-before($baseColorWhite);
                        }
                        .views-field{
                           &:not(.views-field-field-image){
                                margin-left: calc(100% - 45%);
                            } 
                            &-field-image{
                                width: 45%;
                                float: left;
                                .marker {
                                    display: none;
                                }
                                .field-content{
                                    border-top: none;
                                }
                                img{
                                    width: 100%;
                                    height: auto;
                                }
                            }
                            .article-title {
                                a{
                                    font-size: 36px;
                                    line-height: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* end block-ma-giam-gia-noi-bat */