@import "../common.scss";

/* block-ma-giam-gia-noi-bat */
.block-ma-giam-gia-noi-bat{
    .view-content{
        .item-list{
            &-content{
                padding-left: 0;
                .views-row{
                    width: 50%;
                    float: left;
                    margin-bottom: 20px;
                    display: block;
                    &-first{
                        width: 100%;
                        .views-field{
                            &-field-image{
                                width: 45%;
                                float: left;
                            }
                            &:not(.views-field-field-image){
                                margin-left: calc(100% - 45%);
                            }
                            &-title{
                                font-size: 36px;
                                line-height: 45px;
                            }
                        }
                    }
                    .views-field{
                        &-field-image{
                            img{
                                margin: 0 auto;
                            }
                        }
                        &-title{
                            a{
                                font-size: 28px;
                                color: $baseTextColor;
                                line-height: 34px;
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* end block-ma-giam-gia-noi-bat */