html{
    overflow-x: hidden;
    body{
        overflow-x: hidden;
        background-color: $base_bg_color;
        font-family: $font-family-main;
        &.admin-menu {}
    }
}
ul{
    margin-bottom: 0;
    padding-left: 0;
}

h1, h2, h3, h4, h5 {
    font-family: $font-family-main;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1em;
    border: none;
}
h1 {
    font-size: $font-size-h1;
    margin: 0.67em 0;
    padding: 0;
}
h2 {
    font-size: $font-size-h2;
}
h4, h5 {
    margin: .5em 0;
}
p {
    margin: 0 0 10px;
}
h1 small, h2 small, h3 small, h4 small {
    font-size: $font-size-base;
}
b, strong {
    font-weight: 900;
}
a, a:active, a:visited, a:focus, a:hover, a:focus:hover, button, button:hover {
    color: $color-primary-1;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a {
    color: $color-primary-1;
    &:hover {
    color: $color-primary-1;
    }
}
.btn,
.btn.btn-default,
.btn.btn-info {
    @include btn-style();
}
.btn.btn-view {
    text-transform: uppercase;
    border-width: 1px;
    font-size: 20px;
    padding: 9px 30px;
    display: inline-block;
    border: solid 1px $base_color;
    color:$base_color;
    border-radius: 5px;
    font-weight: 300;
    background: none;
}
.boxes-box-controls {
    display: none;
}
input[type=text],
input[type=email],
input[type=password] {
    @include input-style();
}
address {
    margin: 10px 0;
}

ul.btn-group {
    margin: 10px 0;
    padding: 0;
    a {
    line-height: 1.5em;
    }
}

/*--- Drupal-specific classes ---*/
.label-inline {
    display: inline-block;
}
.col-align {
    float: none;
    display: inline-block;
    
    &--top {
        vertical-align: top;
    }
    &--center {
        vertical-align: middle;
    }
    &--bottom {
        vertical-align: bottom;
    }
}
.v-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.menu {
    .menu-hidden {
    display: none !important;
    }
}

#header{
    #navigation-top{
        background-color: $base_primary_2;
    }
    #header-logo{
        .col-logo{
            height: $header_logo_height;
        }
    }
    #navigation{
        background-color:$base_primary_2;
        border-radius: 0;
        margin-bottom: 0;
        border: none;
    }
}
#footer{
    background-color: $base_primary_3;
    &:before{
        background-image: url($theme_path+'/assets/images/footer-right.png');
        background-position: right center;
    }
    &:after{
        background-image: url($theme_path+'/assets/images/footer-left.png');
        background-position: left center; 
    }
    &:before,&:after{
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
        background-size: 18%;
        background-repeat: no-repeat;
        display: inline-block;
        visibility: visible;
        opacity: 0.5;
    }
    .container{
        position: relative;
        z-index: 10;
    }
}
#main{
    #page-content{
        
        #page-sidebar{

        }
    }

}

.page-node{
    &-8674{
        #page-page-content{
            .page-card{
                margin-bottom: 15px;
                padding-left: 5px;
                padding-right: 5px;
                &:nth-child(1),
                &:nth-child(4){
                    padding-left: $bootstrap-padding;
                }
                &:nth-child(3){
                    padding-right: 0;
                }
                .card-img-top{
                    height: 151px;
                }
                .card-body{
                    height: 290px;
                    .card-des{
                        height: 150px;
                    }
                }
            }
        }
    }
}