html{
    overflow-x: hidden;
    body{
        overflow-x: hidden;
        &.admin-menu {
            margin-top: 0 !important;
        }
    }
}
ul{
    margin-bottom: 0;
    padding-left: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3 {
    font-family: $font-family-main;
}
h1, h2, h3, h4, h5 {
    font-family: $font-family-main;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1em;
    border: none;
}
h1 {
    font-size: $font-size-h1;
    margin: 0.67em 0;
    padding: 0;
}
h2 {
    font-size: 1.5em;
}
h4, h5 {
    margin: .5em 0;
}
p {
    margin: 0 0 10px;
}
h1 small, h2 small, h3 small, h4 small {
    font-size: .65em;
}
b, strong {
    font-weight: 900;
}
a, a:active, a:visited, a:focus, a:hover, a:focus:hover, button, button:hover {
    color: $color-theme-1;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a {
    color: $color-theme-1;
    &:hover {
    color: $color-theme-1;
    }
}
.btn,
.btn.btn-default,
.btn.btn-info {
    @include btn-style();
}
.boxes-box-controls {
    display: none;
}
input[type=text],
input[type=email],
input[type=password] {
    @include input-style();
}
address {
    margin: 10px 0;
}

ul.btn-group {
    margin: 10px 0;
    padding: 0;
    a {
    line-height: 1.5em;
    }
}

/*--- Drupal-specific classes ---*/
.label-inline {
    display: inline-block;
}

.menu {
    .menu-hidden {
    display: none !important;
    }
}

#header{
    .navbar{
        background-color: red !important;
        padding: 15px 10px;
    }
    .header-content{
        &-row{
            min-height: 150px;
        }
    }
    .main-menu{
        background-color:white;
    }
}