@mixin placeholder() {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}
@mixin colorLink($color) {
    color: $color;
    &:hover {
        color: $color;
        text-decoration: none;
    }
}

@mixin colorHover($color, $percent) {
    background: $color;
    &:hover {
        background: darken($color, $percent);
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin text-field() {
    background: $color-tertiary-1;
    border: 0;
    line-height: 2.5;
    height: auto;
    padding: 0 15px;
    font-size: 16px;
    @include border-radius(0px);
}