$theme_path: '/sites/loiviphamgiaothong.com/themes/loiviphamgiaothong';

// font family
$font-family-main: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
$font-family-main-bold: $font-family-main;
$font-family-main-light: $font-family-main;
$font-family-side: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
$font-family-icon: FontAwesome;
// font size
$font-size-base: 16px;
$font-size-heading-base: 20px;
$font-size-h1: $font-size-heading-base * 2;
$font-size-h2: $font-size-heading-base * 1.5;
$font-size-h3: $font-size-heading-base;
$font-size-h4: $font-size-base;
$font-size-h5: $font-size-heading-base * 0.8;
$font-size-h6: $font-size-heading-base * 0.7;
// color palettes

$base_color : #fff;
$base_bg_color: #FAFAFA;
$base_primary_1: #4091F2;
$base_primary_2: #F0F0F0;
$base_padding: 10px;
// primary
$color-primary-1: #333;
$color-primary-2: #cccccc;
$color-primary-3: #cacaca;

// system
$bootstrap-padding: 15px;
$bootstrap-navigation: 50px;