/* page-ma-giam-gia */
.page-ma-giam-gia{
    .view-content{
        h3{
            display: block;
            width: 100%;
            padding: 20px 15px;
        }
        .views-row{
            margin-bottom: 20px;
        }
    }   
}

/* end page-ma-giam-gia */