.page-tim-kiem{
    .coupon-product-search-content{
        .nav-tabs{
            &.custom-tabs{
                li{
                    width: 50%;
                }
            }
        }
        .tab-content{
            .view-filters{
                .views-exposed-form{
                    @include  box-background-shadow();
                    padding: 20px 10px;
                    margin-bottom: 20px;
                    .views-exposed-widgets{
                        margin-bottom: 0;
                    }
                }
                #edit-keys-wrapper,
                #edit-keys--2-wrapper{
                    label{
                        display: none;
                    }
                    #edit-keys,
                    #edit-keys--2{
                        border-radius: 0;
                        padding: 19px 15px;
                        box-shadow: none;
                        border-color: #f5f5f5;
                    }
                }
                .views-exposed-widget{
                    padding: 0;
                    #edit-submit-search,
                    #edit-submit-search--2{
                        margin-top: 0;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        color: transparent;
                        background-color: $baseBackgroundHeader;
                        border-color: $baseBackgroundHeader;
                        letter-spacing: -1px;
                        width: 40px;
                        height: 40px;
                        &:focus,
                        &:active{
                            outline: none;
                            outline-offset: unset;
                            box-shadow: none;
                        }
                        &:before{
                            font: normal normal normal 14px/1 FontAwesome;
                            content: "\f002";
                            letter-spacing: normal;
                            color: #fff;
                        }
                    }
                }
                #edit-keys-wrapper,
                #edit-keys--2-wrapper {
                    padding: 0;
                    width: calc(100% - 40px);
                }
            }
            .view-empty{
                @include  box-background-shadow();
                padding: 20px 10px;
                margin-bottom: 20px;
                p{
                    font-size: 20px;
                    text-transform: capitalize;
                    font-weight: 600;
                }
                ul{
                    margin: 0;
                    padding: 0;
                    li{
                        display: block;
                    }
                }
            }
        }
    }
}