/* page-thuong-hieu */
.page-store{
    #page-title{
        display: none;
    }
    #main{
        .container{
            background: $baseColorWhite;
        }
        .view-content{
            h3{
                display: block;
                width: 100%;
                padding: 20px 15px;
            }
            .views-row{
                margin-bottom: 20px;
                padding: 0 5px;
                .views-field {
                    &-field-image{
                        padding: 15px;
                        border: 2px solid #f5f5f5;
                        justify-content: center;
                        text-align: center;
                        height: 135px;
                        border-radius: 2px;
                        &:hover{
                            border-color: #00979d;
                        }
                        img{
                            width: auto;
                        }
                    }
                }
            }
        }
    }  
}
.node-type-thuong-hieu{
    .custom-page-header{
        margin-top: 25px;
        margin-bottom: 20px;
        .container{
            background: $baseColorWhite;
            padding: 30px;
            .header-thumb{
                a{
                    border: 2px solid #f5f5f5;
                    border-radius: 2px;
                    display: block;
                    overflow: hidden;
                    position: relative;
                    text-align: center;
                    padding: 15px;
                    img{
                        max-height: 120px;
                        height: auto;
                    }
                }
            }
            .header-content{
                h1{
                    font-weight: 300;
                    font-size: 35px;
                    strong{
                        font-weight: 700;
                    }
                }
                p{
                    font-size: 16px;
                    font-weight: 300;
                }
            }
        }
    }
}
/* end page-thuong-hieu */