
/* block-top-product */
#block-top-product{
    margin: 20px 0;
    .wrapper-view-field{
        background-color: $baseColorWhite;
        padding-bottom: 20px;
        position: relative;
    }
    .views-row{
        margin-bottom: 30px;
        &-1, &-4{
            padding-left: 0;
        }
        &-3,&-6{
            padding-right: 0px;
        }
        .views-field{
            &:not(.views-field-field-image){
                padding-left: 15px;
                padding-right: 15px;
            }
            &-field-image{
                text-align: center;
                border-top: 2px solid $baseBackgroundHeader;
               .field-content {
                    position: relative;
                    overflow: hidden;
                    border-top: solid 3px $baseBackgroundHeader;
                } 
                .marker {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                img{
                    width: auto;
                    max-height: 340px;
                }
            } 
            &-title{
                margin-top: 15px;
                margin-bottom: 15px;
                a{
                    font-size: 18px;
                    line-height: 25px;
                    font-weight: 500;
                }
            }
            &-field-teaser{
                margin-bottom: 20px;
            }
            &-field-category{
                padding-top: 30px;
                border-top: 1px solid $baseBackground2;
                padding-bottom: 10px;
                a{
                    color: $baseBackgroundFooter;
                    font-weight: 500;
                }
            }
        }
        .article-footer{
            .left{
                a{
                    font-size: 15px;
                }
            }
        }
    }
}
/* end block-top-product */