@import "../minxins.scss";

/* block-top-articles-trademark */
#block-top-articles-trademark{
    margin: 30px auto;
    .owl{
        &-carousel{
            position: relative;
        }
        &-nav{
            width: 100%;
            position: absolute;
            top: 30%;
            transform: translateY(-30%);
            margin-top: 0;
            div{
                text-indent: -9999px;
                width: 50px;
                height: 100px;
                background-color: $baseBackgroundHeader;
                padding: 0;
                margin: 0;
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 0;
                &.owl-prev {
                    position: absolute;
                    left: 0;
                    background-image: url('./../images/pre.png');
                    margin-left: -7%;
                }
                &.owl-next{
                    position: absolute;
                    right: 0;
                    background-image: url('./../images/next.png');
                    margin-right: -7%;
                }
            }
            
        } 
    }
    .views-row{
        a{
            img{
                width: auto;
                margin: 0 auto;
            }
        }
    }
}
/* end block-top-articles-trademark */