#block-views-store-block-deals-more{
    margin-bottom: 30px;
    .block-title{
        @include  block-title();
    }
    .content{
        padding: 20px;
        @include  box-background-shadow();
        .view-content{
            padding-left: 10px;
            padding-right: 10px;
            .views-row{
                padding: 10px;
                a{
                    @include  store-thumb();
                    line-height: 1;
                    img{
                        max-height: 80px;
                        height: auto;
                    }
                }
            }
        }
    }
}