body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #191E28;
  overflow-x: hidden;
  background: #f8f9f9;
}
body.front {
  background: #f8f9f9;
}

a {
  color: #191E28;
}
a:hover {
  text-decoration: none;
  color: #191E28;
}

.full-left-right {
  margin-left: -15px !important;
  margin-right: -15px !important;
}

.marker {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  background: #00B7F0;
  text-align: center;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
  display: block;
}
.marker-news-promotion {
  width: 200px;
}
.marker-last-promotion {
  padding-right: 15px;
  padding-left: 15px;
}

.pager-load-more {
  width: 100%;
  float: left;
  position: relative;
}
.pager-load-more .pager-next {
  display: inline;
}
.pager-load-more .pager-next a {
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  padding: 8px 20px;
  text-align: center;
  width: 195px;
  border: solid 2px #00B7F0;
  border-radius: 5px;
  background: #00B7F0 !important;
  font-weight: 500;
  border-radius: 0;
}

.field-article-item {
  padding-top: 30px;
  position: relative;
}
.field-article-item .article-content .article-title a {
  font-size: 28px;
  color: #353941;
  line-height: 34px;
  font-weight: 600;
}
.field-article-item .article-content .article-teaser {
  line-height: 25px;
}
.field-article-item .article-footer {
  padding-top: 15px;
  position: static;
  width: 100%;
  border-top: 1px solid #f8f9f9;
  bottom: 0;
  margin-top: 15px;
}
.field-article-item .article-footer .left a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  color: #353941;
}

/* header css */
#header {
  background: #00B7F0;
  position: relative;
  padding: 25px 0 15px;
  margin: 0 auto 2px;
}

/* end header css */
/* footer css */
#footer {
  background: #00B7F0;
  position: relative;
  padding: 25px 0 15px;
  margin: 0 auto;
}

/* end footer css */
/* block-promotion-highlight */
#block-promotion-highlight .view-content .item-list-content {
  padding-left: 0;
}
#block-promotion-highlight .view-content .item-list-content .views-row {
  margin-bottom: 20px;
  display: block;
  margin-left: 0;
}
#block-promotion-highlight .view-content .item-list-content .views-row-even {
  padding-right: 15px;
}
#block-promotion-highlight .view-content .item-list-content .views-row-odd {
  padding-left: 15px;
}
#block-promotion-highlight .view-content .item-list-content .views-row .wrapper-views-row-first {
  position: relative;
}
#block-promotion-highlight .view-content .item-list-content .views-row .wrapper-views-row-not-first {
  background-color: #fff;
  padding-bottom: 30px;
}
#block-promotion-highlight .view-content .item-list-content .views-row .views-field-field-image {
  position: relative;
  overflow: hidden;
  max-height: 300px;
  height: auto;
  display: table;
  min-height: 200px;
  text-align: center;
}
#block-promotion-highlight .view-content .item-list-content .views-row .views-field-field-image .marker {
  position: absolute;
  top: 0;
  right: 0;
}
#block-promotion-highlight .view-content .item-list-content .views-row .views-field-field-image .field-content {
  display: table-cell;
  vertical-align: middle;
  border-top: solid 3px #00B7F0;
}
#block-promotion-highlight .view-content .item-list-content .views-row .views-field-field-image img {
  max-width: 100%;
  height: auto;
}
#block-promotion-highlight .view-content .item-list-content .views-row .views-field-title {
  margin-top: 15px;
  margin-bottom: 20px;
}
#block-promotion-highlight .view-content .item-list-content .views-row .views-field-title a {
  font-size: 28px;
  color: #353941;
  line-height: 34px;
  font-weight: 600;
}
#block-promotion-highlight .view-content .item-list-content .views-row .views-field-field-teaser {
  line-height: 25px;
}
#block-promotion-highlight .view-content .item-list-content .views-row .views-field-title, #block-promotion-highlight .view-content .item-list-content .views-row .views-field-field-teaser {
  padding-left: 15px;
  padding-right: 15px;
}
#block-promotion-highlight .view-content .item-list-content .views-row-first {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px 0;
}
#block-promotion-highlight .view-content .item-list-content .views-row-first:before {
  position: absolute;
  content: '';
  height: 100%;
  display: block;
  width: 200%;
  left: -50%;
  top: 0;
  background: #fff;
}
#block-promotion-highlight .view-content .item-list-content .views-row-first .views-field:not(.views-field-field-image) {
  margin-left: calc(100% - 45%);
}
#block-promotion-highlight .view-content .item-list-content .views-row-first .views-field-field-image {
  width: 45%;
  float: left;
}
#block-promotion-highlight .view-content .item-list-content .views-row-first .views-field-field-image .marker {
  display: none;
}
#block-promotion-highlight .view-content .item-list-content .views-row-first .views-field-field-image .field-content {
  border-top: none;
  display: table;
}
#block-promotion-highlight .view-content .item-list-content .views-row-first .views-field-field-image .field-content a {
  display: table-cell;
  vertical-align: middle;
}
#block-promotion-highlight .view-content .item-list-content .views-row-first .views-field-field-image img {
  max-width: 100%;
  height: auto;
}
#block-promotion-highlight .view-content .item-list-content .views-row-first .views-field .article-title a {
  font-size: 36px;
  line-height: 45px;
}

/* end block-ma-giam-gia-noi-bat */
/* block-home-promotion */
#block-home-promotion {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}
#block-home-promotion:before {
  position: absolute;
  content: '';
  height: 100%;
  display: block;
  width: 200%;
  left: -50%;
  top: 0;
  background: #fff;
}
#block-home-promotion .views-row {
  margin-bottom: 30px;
}
#block-home-promotion .views-row .wrapper-view-field {
  position: relative;
  background-color: #f8f9f9;
}
#block-home-promotion .views-row .views-field-field-image {
  border-top: 2px solid #00B7F0;
}
#block-home-promotion .views-row .views-field-field-image img {
  max-width: 100%;
  height: auto;
}
#block-home-promotion .views-row .views-field-field-image .marker {
  position: absolute;
  top: 0;
  right: 0;
}
#block-home-promotion .views-row .views-field-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
#block-home-promotion .views-row .views-field-title a {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}
#block-home-promotion .views-row .views-field:not(.views-field-field-image) {
  padding-left: 15px;
  padding-right: 15px;
}
#block-home-promotion .views-row .views-field-field-teaser .field-article-item .marker-news-promotion {
  display: none;
}
#block-home-promotion .views-row .field-article-item {
  padding-top: 10px;
}
#block-home-promotion .views-row .article-content {
  margin-bottom: 10px;
}
#block-home-promotion .views-row .article-footer {
  border-top-color: #fff;
  padding-bottom: 15px;
}

/* end block-home-promotion */
/* block-top-product */
#block-top-product {
  margin: 20px 0;
}
#block-top-product .wrapper-view-field {
  background-color: #fff;
  padding-bottom: 20px;
  position: relative;
}
#block-top-product .views-row {
  margin-bottom: 30px;
}
#block-top-product .views-row-1, #block-top-product .views-row-4 {
  padding-left: 0;
}
#block-top-product .views-row-3, #block-top-product .views-row-6 {
  padding-right: 0px;
}
#block-top-product .views-row .views-field:not(.views-field-field-image) {
  padding-left: 15px;
  padding-right: 15px;
}
#block-top-product .views-row .views-field-field-image {
  text-align: center;
  border-top: 2px solid #00B7F0;
}
#block-top-product .views-row .views-field-field-image .field-content {
  position: relative;
  overflow: hidden;
  border-top: solid 3px #00B7F0;
}
#block-top-product .views-row .views-field-field-image .marker {
  position: absolute;
  top: 0;
  right: 0;
}
#block-top-product .views-row .views-field-field-image img {
  width: auto;
  max-height: 340px;
}
#block-top-product .views-row .views-field-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
#block-top-product .views-row .views-field-title a {
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}
#block-top-product .views-row .views-field-field-teaser {
  margin-bottom: 20px;
}
#block-top-product .views-row .views-field-field-category {
  padding-top: 30px;
  border-top: 1px solid #f8f9f9;
  padding-bottom: 10px;
}
#block-top-product .views-row .views-field-field-category a {
  color: #191E28;
  font-weight: 500;
}
#block-top-product .views-row .article-footer .left a {
  font-size: 15px;
}

/* end block-top-product */
/* block-top-articles-trademark */
#block-top-articles-trademark {
  margin: 30px auto;
}
#block-top-articles-trademark .owl-carousel {
  position: relative;
}
#block-top-articles-trademark .owl-nav {
  width: 100%;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  margin-top: 0;
}
#block-top-articles-trademark .owl-nav div {
  text-indent: -9999px;
  width: 50px;
  height: 100px;
  background-color: #00B7F0;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0;
}
#block-top-articles-trademark .owl-nav div.owl-prev {
  position: absolute;
  left: 0;
  background-image: url("./../images/pre.png");
  margin-left: -7%;
}
#block-top-articles-trademark .owl-nav div.owl-next {
  position: absolute;
  right: 0;
  background-image: url("./../images/next.png");
  margin-right: -7%;
}
#block-top-articles-trademark .views-row a img {
  width: auto;
  margin: 0 auto;
}

/* end block-top-articles-trademark */
/* page-ma-giam-gia */
.page-ma-giam-gia .view-content h3 {
  display: block;
  width: 100%;
  padding: 20px 15px;
}
.page-ma-giam-gia .view-content .views-row {
  margin-bottom: 20px;
}

/* end page-ma-giam-gia */
/* page-thuong-hieu */
.page-store #page-title {
  display: none;
}
.page-store #main .container {
  background: #fff;
}
.page-store #main .view-content h3 {
  display: block;
  width: 100%;
  padding: 20px 15px;
}
.page-store #main .view-content .views-row {
  margin-bottom: 20px;
  padding: 0 5px;
}
.page-store #main .view-content .views-row .views-field-field-image {
  padding: 15px;
  border: 2px solid #f5f5f5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 135px;
  border-radius: 2px;
}
.page-store #main .view-content .views-row .views-field-field-image:hover {
  border-color: #00979d;
}
.page-store #main .view-content .views-row .views-field-field-image img {
  width: auto;
}

.node-type-thuong-hieu .custom-page-header {
  margin-top: 25px;
  margin-bottom: 20px;
}
.node-type-thuong-hieu .custom-page-header .container {
  background: #fff;
  padding: 30px;
}
.node-type-thuong-hieu .custom-page-header .container .header-thumb a {
  border: 2px solid #f5f5f5;
  border-radius: 2px;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 15px;
}
.node-type-thuong-hieu .custom-page-header .container .header-thumb a img {
  max-height: 120px;
  height: auto;
}
.node-type-thuong-hieu .custom-page-header .container .header-content h1 {
  font-weight: 300;
  font-size: 35px;
}
.node-type-thuong-hieu .custom-page-header .container .header-content h1 strong {
  font-weight: 700;
}
.node-type-thuong-hieu .custom-page-header .container .header-content p {
  font-size: 16px;
  font-weight: 300;
}

/* end page-thuong-hieu */
/* region-ads-footer */
#advertise-footer .region-ads-footer {
  position: relative;
}

/* end region-ads-footer */
