/* header css */
#header {
  background: #407ed2;
  position: relative;
  padding: 25px 0 15px;
  margin: 0 auto 2px;
}

/* end header css */
/* block-ma-giam-gia-noi-bat */
.block-ma-giam-gia-noi-bat .view-content .item-list-content {
  padding-left: 0;
}
.block-ma-giam-gia-noi-bat .view-content .item-list-content .views-row {
  width: 50%;
  float: left;
  margin-bottom: 20px;
  display: block;
}
.block-ma-giam-gia-noi-bat .view-content .item-list-content .views-row-first {
  width: 100%;
}
.block-ma-giam-gia-noi-bat .view-content .item-list-content .views-row-first .views-field-field-image {
  width: 45%;
  float: left;
}
.block-ma-giam-gia-noi-bat .view-content .item-list-content .views-row-first .views-field:not(.views-field-field-image) {
  margin-left: calc(100% - 45%);
}
.block-ma-giam-gia-noi-bat .view-content .item-list-content .views-row-first .views-field-title {
  font-size: 36px;
  line-height: 45px;
}
.block-ma-giam-gia-noi-bat .view-content .item-list-content .views-row .views-field-field-image img {
  margin: 0 auto;
}
.block-ma-giam-gia-noi-bat .view-content .item-list-content .views-row .views-field-title a {
  font-size: 28px;
  color: #353941;
  line-height: 34px;
  font-weight: 600;
}

/* end block-ma-giam-gia-noi-bat */
.full-left-right {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
