#block-navigation-search{
    background: $color-primary-2;
    transition: all 0.5s ease 0s;
    padding: 3.5px 6px 3.5px 15px;
    border-radius: 0;
    #search-block-form{
        margin: 0;
        .element-invisible{
            display: none;
        }
        .input-group{
            .form-control{
                &.form-text{
                    background: none;
                    border: 0;
                    border-radius: 0;
                    color: $base_color;
                    box-shadow: none;
                    font-size: 18px;
                    padding: 0;
                    height: 40px;
                    @include placeholder(){
                        color: $base_color;
                    }
                }
            }
            .input-group-btn{
               .btn{
                   &.btn-primary{
                        background: none;
                        border-radius: 0;
                        border: 0;
                        box-shadow: none;
                        padding-top: 0;
                        padding-bottom: 0;
                        height: 40px;
                        .icon {
                            color: $base_color;
                        }
                    }
               } 
            }
        }
        .form-actions{
            margin: 0;
        }
    }
}