#block-top-search{
    #search-block-form{
        .element-invisible{
            display: none;
        }
        .form-item{
            float: left;
            margin-top: 0;
            margin-bottom: 0;
            .form-text{
                @include input-style();
                min-height: 35px;
                height: auto;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        .form-actions{
            float: left;
        }
    }
}